<% provide(:title, "About") %>
<h1>My Name is</h1>
<h2>Amirhosein Bodaghi</h2>
<p>
  The <a href="http://www.google.com/"><em>Google</em></a> is my favorit
  search engine.
</p>
<h6>This is the sample application for the tutorial.</h6>
