<% provide(:title, "Home") %>
<h1>My name is Amirhosein bodaghi</h1>
<p>
  you see my Sample app HW in ruby on rails. you can see free online book by click on 
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
</p>
